<% if @user %>
	<section class="user">
		<div>			
			<%= render partial: "shared/user_card", locals: { user: @user } %>
		</div>
	</section>
	<section class="bio flex-column">
		<h3>Bio</h3>
		<p><%= @user.bio %></p>
	</section>
	<section class="posts flex-column">
		<%= render partial: "shared/post_card", locals: { user: @user.post_recent } %>
		<div class="all-posts flex-column">
			<%= link_to "See all post", user_posts_path(@user), class: "see-all-post" %>
		</div>
	</section>
<% else %>
	<p>404 - User not found</p>
<% end %>
<p><%= link_to "Back", :back %></p>
