<section class="user">
<h1>Show/Deatils users</h1>
  <div>
			<%= image_tag @user.photo, width: 100 %>
      <%= link_to @user.name, user_path(@user) %>
      Number of post: <%= @user.posts.count %>
  </div>
</section>
<section class="bio">
  <h3>Bio</h3>
	<p><%= @user.bio %></p>
</section>
<section class="posts">
	<div>
		<!-- Render post_recent to show the last 3 post -->
		<% @user.post_recent.each_with_index do |post, index| %>
			<h3>Post # <%= index + 1 %> <span><%= post.title %></span></h3>
			<p><%= post.text %></p>
			<p>Comments: <%= post.comments_counter %>, Likes: <%= post.likes_counter %></p>
      <%= link_to "See post", user_post_path(@user, post) %>
		<% end %>
	</div>
  <br><br>
	<div>
		<%= link_to "See all post", user_posts_path(@user) %>
	</div>
</section>