<div class="post-comments flex-column">
    <!-- Render post_recent to show the last 3 post -->
    <% posts.each_with_index do |post, index| %>
        <h3><%= link_to "Post # #{index + 1} #{post.title}", user_post_path(@user, post), class: "post-title" %></h3>
        <p>
            <%= post.text %>
        </p>
        <p class="counter">
            Comments: <%= post.comments_counter %>, Likes: <%= post.likes_counter %>
        </p>
        <% if post.comments_counter > 0 %>            
            <div class="comments flex-column">
                <% post.recent_comments.each_with_index do |comment, index| %>
                    <p>
                        <%= comment.author.name %>: <%= comment.text %>
                    </p>
                <% end %>
            </div>
        <% end %>
    <% end %>
</div>