<section class="post-show">
  <div class="post-header">
    <h2>
      Post # by <%= @user.name %>
    </h2>
    <p class="counter"><i>Comments: <%= @posts.comments_counter %>, Likes: <%= @posts.likes_counter %></i></p>
    <br><br>
  </div>
  <div class="post-content">
    <p>
      <%= @posts.text %>
    </p>
  </div>
  <br><br>
</section>
<hr />
<h3>Comments</h3>
<hr />
<br>
<%= link_to "Add new Comment", new_user_post_comment_path(post_id: @posts.id) %>
<br><br>
<hr />
<!--  -->
<% if @posts.comments_counter > 0 %>
  <%= render partial: "shared/comments_section", locals: { post: @posts } %>
<% else %>
  <p>No comments yet</p>
<% end %>
<hr />
<p><%= link_to "Back", :back %> | <%= render partial: "shared/link_main" %></p>